.content_wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.img {
	width: 400px;
}
.text {
	width: 50%;
	margin: 30px;
}
.list {
	padding-left: 14px;
	line-height: 30px;
	color: #eee;
}
.genres {
	margin-right: 10px;
}
.description {
	text-align: justify;
}
